* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #333;
  font-family: "Open Sans"; 
}

h1 { 
  font-family: Book Antiqua; 
  font-size: 32px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 23px; 
}

h3{
  font-size: 25px;
  color: #5a8c70;
  margin-top: 15px;
  margin-bottom: 25px;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

/*
@media only screen and (max-width: 1300px){

  #cards{
    flex-direction: column;
  }

  #logo_ribbon>img {
    width: 100px;
  }

}*/


#container{
  display: flex;
  flex-direction: column;
}

#title_section{
  padding: 230px 10% 3% 10%;
}

#title_content{
  display: flex;
  flex-direction: column;
}

.title_text {
  font-family: Book Antiqua; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 60px; 
  display: inline;
  font-size: 80px;
  overflow: visible;
  color: #18353f;  
  word-wrap: break-word; 
}

.subtitle_text {
  font-family: Book Antiqua; 
  font-style: italic; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 60px; 
  display: inline;
  font-size: 40px;
  overflow: visible;
  color: #18353f;  
  word-wrap: break-word;
  padding-top: 30px; 
}

/*    Logo Ribbon    */

#logo_ribbon{
  position: absolute;
  top: 0px;
  left: 10vw;
  z-index: 1;
}

#logo_ribbon > img{
  width: 250px;
}

/*    Nav    */

#nav_cont{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: stretch;
  background-color: #5a8c70;
  column-gap: 20px;
  padding-right: 80px;
  height: 90px;
  position: relative;
}

#nav_cont .box {
  display: flex;
  grid-template-columns: auto;
  grid-template-rows: 48px;
  background-color: inherit;
}

#nav_cont .box > a {
  padding: 10px;
  align-self: end;
  justify-self: start;
  text-decoration: none;
  color:  #ffffff;
  white-space: nowrap;
}

#nav_cont .box > a:hover {
  background-color: #ca9731;
  color: #ffffff;
  /*box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}

.dropdown:hover .dropbtn > a{
  background-color: #ca9731;
  color: #ffffff;
}

.dropbtn{
  height: 48px;
  width:auto;
  margin-top: 42px;
}

.dropbtn > a {
  text-decoration: none;
  white-space: nowrap;
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ca9731;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  white-space: nowrap;
  }

.dropdown-content a {
  padding: 10px;
  display: block;
  text-decoration: none;
  background-color: #ca9731;
  color: #ffffff;
  border-left: 2px solid #ca9731;
  }

.dropdown-content a:hover {
  background-color: #a8721b;
  color: #ffffff;
  border-color: #a8721b;
}

.dropdown-content a:first-child {
  border-top: 2px solid #ca9731;
}

/*    Footer    */

#footer_section{
  padding: 2% 5% 2% 5%;
}

#footer_content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#footer_text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer_text > p{
  text-align: center;
  padding-top: 40px;
  padding-right: 100px;
  padding-left: 100px;
  color: rgb(163, 163, 163);
}

.first{
  border-top: rgb(204, 204, 204) solid 2px;
}

#footer_img{
  height: 160px;
  width: 300px;
}

#footer_img > a, img{
  height: 100%;
}

#spacer{
  width: 300px;
}

/*      Main Page Content       */

#banner {
  width: 100%;
  height: 425px;
  background-position: center;
  position: relative;
  display: inline-block;
}

.img_res{
  width: 100%;
  height: auto;
  min-width: 1215px;
  min-height: 425px;
  border: none;
  display: block;
  opacity: 0.5;
}

.text_box {
    position: absolute;    
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start; 
    align-items: center;   
    width: 65%;
    padding-left: 10%;
    z-index: 1;
}

.text_box:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}

#break {
  background-color: #5a8c70;
  height: 85px;
  z-index: 1;
}

#cards_section{
  padding: 10% 0% 10% 0%;
}

#card_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#card_intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

#card_intro h1, #card_intro p{
  padding: 0px 20px 15px 20px;
  text-align: center;
}

#cards{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

#cards > .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  width: 360px;
}

.card > .img_mask{
  height: 280px;
  width: 280px;
  padding: 15px;
  margin: 15px 25px 15px 25px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 10px -10px rgba(0, 0, 0, 0.19);
}

.img_mask > img{
  height: 280px;
  width: 280px;
}

.card_text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_text p{
  text-align: center;
}

#action_section{
  background-color: #18353f;
  padding: 5%;
}

#action_content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#action_btn{
  height: 70px;
  width: 420px;
}
#action_btn > a{
  width: 100%;
  height: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center;  
  background-color: #ca9731;
  color: #ffffff;
  border-radius: 15px;
  text-decoration: none;
}

#action_btn > a:hover{
  background-color: #a8721b;
}

/*    Submission Page Content     */

#timeline_section{
  padding: 0% 10% 3% 10%;
}

#timeline_content{
  display: flex;
  flex-direction: column;
}

#body_section{
  padding: 0% 10% 5% 10%;
}

#body_content{
  display: flex;
  flex-direction: column;
}

#body_content p{
  padding: 10px 100px 15px 0px;
}
/*    Current Issues Page Content     */

#issue_section{
  padding: 0% 10% 5% 10%;
}

.issue_content{
  display: flex;
  flex-direction: column;
}

.issue_content p{
  padding: 0px 20px 15px 0px;
}

.issue_title_cont{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.contents{
  margin-top: 20px;
  padding: 20px 0px 0px 20px;
}

.editors:after {
  content : "";
  position: absolute;
  left    : 25%;
  height  : 20px;
  width   : 50%;  /* or 100px */
  border-bottom: rgb(204, 204, 204) solid 2px;
}

.small_download{
  height: 20px;
}

.large_download{
  height: 35px;
  width: 100%;
  display: none;
}

.list_item{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

ul{
  list-style-type: none;
}

/*    Past Issues Page Content     */